DJANGO_SECRET_KEY="foo"
SIGNING_SEED="SCY4F6VEIIPXPLTNQSFT5427H64YK3H3LB27H7WAOVDQSV2UACRWTPGM"
SERVER_JWT_KEY="bar"
HOST_URL="http://localhost:8000"
LOCAL_MODE=1
ACTIVE_SEPS="sep-1,sep-6,sep-10,sep-12,sep-24,sep-31,sep-38,sep-45,sep-58"
SOROBAN_RPC_URL="https://soroban-testnet.stellar.org"
SEP45_WEB_AUTH_CONTRACT_ID="CD3LA6RKF5D2FN2R2L57MWXLBRSEWWENE74YBEFZSSGNJRJGICFGQXMX"
SEP45_JWT_SECRET="sep45-test-secret"
